<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekday Warrior</title>
</head>

<body> 
  <h1> items to buy</h1>

  <% if(items.length > 0) {    %>
  <h1> <% items.map((item)=>{  %>
    <li> <%= item %></li>

    <%  } )  %>  
    
  </h1>

  <% }  %>
  
  <% else { %>
      <p>no items </p>

  <%} %> 

  <%- include("footer") %>
</body>

</html>